<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Travelr</title>

    <link href="/build/map.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" href="#">Travelr</a>
    </nav>

    <div id="map"></div>

    <script>const MAP_ACCESS_TOKEN = "{{ MAP_ACCESS_TOKEN }}";</script>
    <script src="/build/app.js"></script>
</body>
</html>
